<!DOCTYPE html>

<html>
    <head>
        
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <center>
        <h1>registration</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{USFO.as_p}}
            {{PFO.as_p}}

            <input type="submit" value="registration">

        </form>
       </center>
        
        <script src="" async defer></script>
    </body>
</html>